USE [master]
GO
/****** Object:  Database [find_mahasiswa_db]    Script Date: 21/07/2026 21:38:43 ******/
CREATE DATABASE [find_mahasiswa_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'find_mahasiswa_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\find_mahasiswa_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'find_mahasiswa_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\find_mahasiswa_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [find_mahasiswa_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [find_mahasiswa_db]
GO
/****** Object:  Table [dbo].[BudgetLimits]    Script Date: 21/07/2026 21:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetLimits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[monthly_limit] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BudgetLimit] UNIQUE NONCLUSTERED 
(
	[user_email] ASC,
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceData]    Script Date: 21/07/2026 21:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[initial_balance] [decimal](18, 2) NOT NULL,
	[current_balance] [decimal](18, 2) NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 21/07/2026 21:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[emoji] [varchar](10) NULL,
	[target_amount] [decimal](18, 2) NOT NULL,
	[saved_amount] [decimal](18, 2) NULL,
	[deadline] [date] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopupHistory]    Script Date: 21/07/2026 21:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopupHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[external_id] [varchar](100) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[qr_string] [nvarchar](max) NULL,
	[qr_url] [nvarchar](500) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[external_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 21/07/2026 21:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[wallet] [varchar](50) NOT NULL,
	[date] [datetime] NOT NULL,
	[category] [varchar](50) NOT NULL,
	[notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/07/2026 21:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BudgetLimits] ADD  DEFAULT ((0)) FOR [monthly_limit]
GO
ALTER TABLE [dbo].[BudgetLimits] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BudgetLimits] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[FinanceData] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT ('??') FOR [emoji]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT ((0)) FOR [saved_amount]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TopupHistory] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[TopupHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BudgetLimits]  WITH CHECK ADD  CONSTRAINT [FK_BudgetLimits_Users] FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[BudgetLimits] CHECK CONSTRAINT [FK_BudgetLimits_Users]
GO
ALTER TABLE [dbo].[FinanceData]  WITH CHECK ADD FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TopupHistory]  WITH CHECK ADD  CONSTRAINT [FK_TopupHistory_Users] FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[TopupHistory] CHECK CONSTRAINT [FK_TopupHistory_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
ON DELETE CASCADE
GO
USE [master]
GO
